brokers = ["broker1", "broker2", "broker3"]
asset_classes = ["US Market", "Canadian Market", "Canadian Bonds", "US Bonds", "Developed Markets", "Emerging Markets", "Various"]
currencies = ["USD", "CAD"]

rebalance_api_url = "xxxxxx"
rebalance_api_key = "xxxxxx"

[connections.portfolio]
dialect = "mysql"
username = "xxxxxx"
password = "xxxxxx"
host = "xxxxxx"
database = "portfolio"

[connections.budget]
dialect = "mysql"
username = "xxxxxx"
password = "xxxxxx"
host = "xxxxxx"
database = "budget"

[connections.temperatures]
dialect = "mysql"
username = "xxxxxx"
password = "xxxxxx"
host = "xxxxxx"
database = "temperatures"

[connections.travel]
dialect = "mysql"
username = "xxxxxx"
password = "xxxxxx"
host = "xxxxxx"
database = "travel"

[connections.gnucashDb]
dialect = "mysql"
username = "xxxxxx"
password = "xxxxxx"
host = "xxxxxx"
database = "gnucashDb"